@font-face {
  font-family: 'Circe-Bold';
  /* Имя шрифта */
  src: url('/www/template/style/fonts/Circe-Bold.eot');
  src: url('/www/template/style/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('/www/template/style/fonts/Circe-Bold.woff') format('woff'), url('/www/template/style/fonts/Circe-Bold.ttf') format('truetype'), url('/www/template/style/fonts/Circe-Bold.otf') format('opentype'), url('/www/template/style/fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-ExtraBold';
  /* Имя шрифта */
  src: url('/www/template/style/fonts/Circe-ExtraBold.eot');
  src: url('/www/template/style/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/www/template/style/fonts/Circe-ExtraBold.woff') format('woff'), url('/www/template/style/fonts/Circe-ExtraBold.ttf') format('truetype'), url('/www/template/style/fonts/Circe-ExtraBold.otf') format('opentype'), url('/www/template/style/fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
a
body {
  overflow-x: hidden;
}
.container-fluid {
  text-align: center;
}
.container-fluid .row {
  margin: 0 auto;
  max-width: 1004px;
}
.title-h h1 {
  font-family: Circe-ExtraBold;
  color: #2d2d2d;
  text-transform: uppercase;
  text-align: left;
}
.title-h h1 .teal {
  color: #00e1ee;
}
.title-h h1.white {
  color: #FFFFFF;
}
header {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/www/template/images/header.jpg");
  background-position-y: 0;
  min-height: 705px;
  background-size: cover;
}
.container-fluid.head {
  margin-top: 170px;
}
.container-fluid.head h1 span {
  color: #ffbdde;
}
.container-fluid.head-2 {
  margin-top: 80px;
}
.container-fluid.head-2 .desc {
  text-align: left;
  font-family: Circe-ExtraBold;
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 60px;
}
.container-fluid.head-2 .row {
  position: relative;
}
.container-fluid.head-2 .row .cart {
  position: absolute;
  bottom: -195px;
  right: 0;
}
.container-fluid.sec-1 {
  padding-top: 175px;
}
.container-fluid.sec-1 .desc {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  margin-top: 40px;
}
.container-fluid.sec-1 .desc .title {
  font-family: Circe-ExtraBold;
  color: #2d2d2d;
  text-transform: uppercase;
  font-size: 16px;
}
.container-fluid.sec-1 .desc img {
  margin-top: 20px;
}
.container-fluid.sec-2 .title-h {
  margin-top: 40px;
}
.container-fluid.sec-2 .desc {
  font-family: Circe-ExtraBold;
  color: #2d2d2d;
  font-size: 26px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
.container-fluid.sec-2 ul {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 0;
}
.container-fluid.sec-2 ul li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}
.container-fluid.sec-2 ul li a {
  text-decoration: none;
}
.container-fluid.sec-2 ul li {
  width: 100%;
  margin-top: 30px;
}
.container-fluid.sec-2 ul li span {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -khtml-border-radius: 6px;
  /* KHTML */
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  background-color: #7ae2ee;
}
.container-fluid.sec-2 ul li div {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  width: 80%;
  font-family: Circe-ExtraBold;
  color: #2d2d2d;
  font-size: 26px;
}
.container-fluid.sec-3 .title-h h1 {
  position: relative;
}
.container-fluid.sec-3 .title-h h1 .shadow {
  position: absolute;
  left: 0;
  bottom: -38px;
  font-size: 38px;
  opacity: 0.5;
}
.container-fluid.sec-3 ul {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 0;
  margin-top: 30px;
}
.container-fluid.sec-3 ul li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}
.container-fluid.sec-3 ul li a {
  text-decoration: none;
}
.container-fluid.sec-3 ul li {
  width: 100%;
  margin-top: 30px;
}
.container-fluid.sec-3 ul li span {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -khtml-border-radius: 6px;
  /* KHTML */
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  background-color: #00e1ee;
}
.container-fluid.sec-3 ul li div {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  width: 80%;
  font-family: Circe-ExtraBold;
  color: #00e1ee;
  font-size: 20px;
  text-transform: uppercase;
}
.container-fluid.sec-4 {
  margin-top: 115px;
}
.container-fluid.sec-4 .title-h h1 {
  position: relative;
}
.container-fluid.sec-4 .title-h h1 img {
  position: absolute;
  top: -68px;
  right: 280px;
}
.container-fluid.sec-4 .about {
  margin-top: 115px;
}
.container-fluid.sec-4 .about .item {
  float: left;
  width: 25%;
  position: relative;
}
.container-fluid.sec-4 .about .item img {
  position: absolute;
  left: 172px;
  top: 0;
}
.container-fluid.sec-4 .about .item-number {
  font-family: Circe-ExtraBold;
  color: #00e1ee;
  font-size: 40px;
}
.container-fluid.sec-4 .about .item-desc {
  font-family: Circe-Bold;
  color: #2d2d2d;
}
.container-fluid.sec-5 {
  margin-top: 115px;
}
.container-fluid.sec-5 .left-content {
  width: 38%;
  float: left;
}
.container-fluid.sec-5 .right-content {
  float: left;
  width: 62%;
}
.container-fluid.sec-5 .right-content .name {
  float: left;
  font-family: Circe-ExtraBold;
  color: #2b2b2b;
  font-size: 24px;
}
.container-fluid.sec-5 .right-content .caption {
  width: 100%;
  text-align: left;
  float: left;
  font-family: Circe-Bold;
  color: #2b2b2b;
  font-size: 18px;
}
.container-fluid.sec-5 .right-content .desc {
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  font-family: Circe-Bold;
  color: #2b2b2b;
}
.container-fluid.sec-5 .right-content a {
  float: left;
  font-family: Circe-ExtraBold;
  color: #44eaf6;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 50px;
}
.container-fluid.sec-6 .comment {
  margin-top: 75px;
}
.container-fluid.sec-6 .author {
  float: left;
  width: 100%;
  max-width: 175px;
}
.container-fluid.sec-6 .author .name {
  font-family: Circe-ExtraBold;
  color: #515151;
  margin-top: 15px;
}
.container-fluid.sec-6 .author a {
  margin-top: 20px;
  font-family: Circe-ExtraBold;
  color: #00e1ee;
  font-size: 18px;
}
.container-fluid.sec-6 .desc {
  width: 100%;
  max-width: 520px;
  position: relative;
  min-height: 165px;
  margin: 0 auto;
}
.container-fluid.sec-6 .desc .filter {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color: #00e1ee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  /* KHTML */
  transform: rotate(3deg);
  position: absolute;
  left: 0;
  top: 0;
}
.container-fluid.sec-6 .desc .text {
  background-color: #FFF;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 165px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  /* KHTML */
  position: relative;
  z-index: 10;
}
.container-fluid.sec-6 .comment:nth-child(even) .author {
  float: right;
}
.container-fluid.sec-7 {
  margin-top: 80px;
}
.container-fluid.sec-7 .advantages {
  margin-top: 50px;
}
.container-fluid.sec-7 .item {
  width: 50%;
  float: left;
}
.container-fluid.sec-7 .item .left-content {
  float: left;
}
.container-fluid.sec-7 .item .right-content {
  width: 80%;
  float: left;
  padding-left: 20px;
}
.container-fluid.sec-7 .item .right-content .title {
  font-family: Circe-Bold;
  color: #2b2b2b;
  text-transform: uppercase;
  float: left;
}
.container-fluid.sec-7 .item .right-content .desc {
  float: left;
  font-family: Circe-Bold;
  color: #2b2b2b;
  text-align: left;
}
.container-fluid.sec-7 form {
  margin-top: 35px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #00e1ee;
  padding: 25px;
}
.container-fluid.sec-7 form input[type="text"] {
  font-family: Circe-Bold;
  color: #000000;
  outline: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 15px;
  width: 100%;
  max-width: 250px;
  padding-bottom: 5px;
  background-color: #FFF;
  height: 45px;
  border-bottom: 1px solid #00e1ee;
}
.container-fluid.sec-7 form input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.container-fluid.sec-7 form input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
.container-fluid.sec-7 form input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
.container-fluid.sec-7 form input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
.container-fluid.sec-7 form input[type="submit"] {
  font-family: Circe-Bold;
  color: #000000;
  outline: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 15px;
  width: 100%;
  max-width: 250px;
  padding-bottom: 5px;
  background-color: #FFF;
  height: 45px;
  border-bottom: 1px solid #00e1ee;
  margin-top: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.container-fluid.sec-7 form input[type="submit"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.container-fluid.sec-7 form input[type="submit"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
.container-fluid.sec-7 form input[type="submit"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
.container-fluid.sec-7 form input[type="submit"]:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
footer {
  margin-top: 80px;
}
footer .left-content,
footer .right-content {
  float: left;
  width: 50%;
  min-height: 365px;
}
footer .left-content {
  padding: 20px;
  text-align: left;
}
footer .left-content .contact {
  font-family: Circe-Bold;
  color: #2b2b2b;
  font-size: 20px;
  margin-top: 25px;
}
footer .left-content .contact span {
  font-family: Circe-ExtraBold;
  color: #2b2b2b;
}
footer .left-content .fio {
  font-family: Circe-ExtraBold;
  color: #2b2b2b;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
}
